body {
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 22px;
    margin: 0;
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

/*HEADER*/
header {
    width: 100%;
    position: fixed;
    height: 70px;
    z-index: 1;
    background-color: #043353;
    border-bottom: 1px solid black;
}


header img {
    height: 50px;
    padding-left: 10px;
}

nav {
    text-align: right;
    flex-grow: 1;
}

nav span {
    
    display: inline-block;
    padding: 20px 10px;
}

nav a {
    color: white;
}

/*Main*/
.main {
    padding-top: 69px;
    opacity: 0.9;
    width: 90%;
    margin: auto;
}

/*MISION*/
#mision {
    height: 600px;
    background-image: url(./imgs/sucursal.jpg);
    background-size: cover;
}

#mision .content{
    background-color: black;
    color: white;
    width: 100%;
}

/*PRODUCTOS*/

#productos{
    height: auto;
    width: 80%;
    margin: auto;
    padding-top: 50px;
}

.item{
    padding: 5px;
}

.item img{
    height: 200px;
    margin: 10px;
    display: inline;
    box-shadow: 0 5px 20px rgb(0 0 0 / 50%);
}
.item span {
    display: block;
    padding: 5px;
    width: 300px;
    font-weight: bold;
    text-align: center;
}
/*EQUIPO*/

#equipo .content {
    height: 50px;
    width: 100%;
    background-color: teal;
    color: white;
}

.teammates{
    height: 550px;
    width: 100%;
    padding-top: 15px;
    background-image: url(./imgs/nastuh-abootalebi-ZtC4_rPCRXA-unsplash.jpg);
    background-position: center;
    position: relative;
    z-index: 4;
}
.teammate{
    padding: 35px;
}

.teammate img {
    height: 250px;
    margin: auto;
    display: inline;
}

.teammate span {
    display: block;
    width: 300px;
    margin: auto;
    text-align: center;
    color: black;
    background-color: white;
}


footer h4 {
    padding-left: 10px;
    text-align: left;
}

@media only screen and (max-width: 1330px) {
    .teammates {
        height: auto;
    }
}